.main__workspace__canvas_wrapper{
    position: relative;
    width: 96%;
    margin: 2%;
    grid-area: canvas;
}

.main__workspace__canvas_wrapper:before{
    content:"";
    display:block;
    padding-top: 100%;
}
.main__workspace__canvas_wrapper>.current{
    visibility: visible;
}
.main__workspace__canvas{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(93,244,228,0.3);
    box-shadow: 0 0 20px 4px #5df4e4;
/*    visibility: hidden;*/
}
.main__workspace__canvas__item_wrapper{
    position: relative;
    border: 1px solid transparent;
}
.main__workspace__canvas__item{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #5df4e4;
    border-radius: 0;
    background-color: rgba(93,244,228,0.3);
    box-shadow: 0 0 6px 2px #5df4e4;
}
