@import "colorSelector.css";
.main__workspace__colors{
    grid-area: colors;
    position: relative;
}
.main__workspace__colors__swap-button{
    position: absolute;
    bottom: 88%;
    left: 59%;
    width: 9%;
}
.main__workspace__colors__swap-button:hover #swap-button{
    fill: #5df4e4;
}
.main__workspace__colors__active-colors{
    width: 50%;
    height: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-radius: 10px;
    background-color: rgba(93,244,228,0.3);
    box-shadow: 0 0 20px 4px #5df4e4;
}
.main__workspace__colors__active-colors__item{
    position: relative;
    width: 40%;
    padding-top: 40%;
    border-radius: 3px;
}
.main__workspace__colors__active-colors__item:first-child{
    top: 10%;
    left: -7%;
    background-color: black;
    z-index: 3;
}
.main__workspace__colors__active-colors__item:last-child{
    top: -10%;
    left: 7%;
    background-color: white;
}
