.main__workspace__preview_wrapper{
    grid-area: preview;
    position: relative;
    margin: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__workspace__preview{
    position: absolute;
    visibility: hidden;
}
.main__workspace__preview__animation_img{
    background-color: rgba(93,244,228,0.3);
    box-shadow: 0 0 20px 4px #5df4e4;
}

