.main__workspace__size-scale_wrapper{
    grid-area: options;
    width: 100%;
    height: 15%;
}
.main__workspace__size-scale{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.main__workspace__size-scale__item{
    flex-grow: 1;
    height: 100%;
    margin: 0 2%;
    background-color: rgba(93,244,228,0.3);
    box-shadow: 0 0 5px 3px #5df4e4;
    border-radius: 10px;
    text-align: center;
    font-size: 0.85vw;
    color: #052629;
}
.main__workspace__size-scale__item:hover{
    cursor: pointer;
    background-color: rgba(93,244,228,1);
    box-shadow: 0 0 10px 3px #5df4e4;
}
.main__workspace__size-scale__item.current{
    background-color: rgba(93,244,228,1);
}
.main__workspace__size-scale__current-size-display{
    margin-top: 40%;
}
.main__workspace__size-scale__current-size-display, .main__workspace__size-scale__current-coords-display{
    color: rgba(93,244,228,1);
    font-size: 0.85vw;
}
