.main__workspace__tools{
    grid-area: tools;
    margin: 2% 0;
}
.main__workspace__tools__items_wrapper:before{
    content:"";
    display:block;
    padding-top:100%;
}
.main__workspace__tools__items{
    margin: 50% 15%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(93,244,228,0.3);
    box-shadow: 0 0 20px 4px #5df4e4;
}
.main__workspace__tools__items__tool:nth-child(odd) {
    border-left: transparent;
}

.main__workspace__tools__items__tool:nth-child(even) {
    border-right: transparent;
}
.main__workspace__tools__items__tool:first-child{
    border-top: transparent;
    border-top-left-radius: 10px;
}
.main__workspace__tools__items__tool:nth-child(2){
    border-top: transparent;
    border-top-right-radius: 10px;
}
.main__workspace__tools__items__tool:nth-last-child(2){
    border-bottom: transparent;
    border-bottom-left-radius: 10px;
}
.main__workspace__tools__items__tool:last-child{
    border-bottom: transparent;
    border-bottom-right-radius: 10px;
}
.main__workspace__tools__items__tool{
    position: relative;
    width: 50%;
    padding-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(93,244,228,0.3);
}
.main__workspace__tools__items__tool_icon{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
}
.main__workspace__tools__items__tool_button{
    position: absolute;
    top: 0;
    left: 110%;
    visibility: hidden;
    height: 50%;
    z-index: 5;
    text-align: center;
    border-radius: 5px;
    font-size: 1vw;
    outline-style: none;
    background-color: #ff95bdad;
    color: #effffd;
    white-space: nowrap;
    padding: 5px;
}
.main__workspace__tools__items__tool::after{
    content: '';
    position: absolute;
    top: 25%;
    right: -10%;
    width: 10%;
    border: 0.3vw solid transparent;
    border-right-color: #ff95bdad;
    visibility: hidden;
}
.main__workspace__tools__items__tool:hover > .main__workspace__tools__items__tool_button{
    visibility: visible;
}
.main__workspace__tools__items__tool:hover::after{
    visibility: visible;
}
.main__workspace__tools__items__tool:hover, .active{
    background-color: #5df4e4;
}
.current{
    background-color: rgba(230, 170, 244, 0.3)
}
